@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 152px 0;
}

@media (max-width: 768px) {
    .main-container {
        padding: 85px 0;
    }
}

.card-container {
    width: 320px;
    height: 497px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
}

.qr-code-image {
    width: 288px;
    height: 288px;
    padding: 16px;
    border-radius: 25px;
}

h1, p {
    width: 288px;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Outfit', sans-serif;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    padding: 0 16px 16px 16px;
}

p {
    width: 256px;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.188px;
    padding: 0 32px;
}
